<!DOCTYPE html>
<html>
<head>
    <title>PPE Detection</title>
    <style>
        body { font-family: Arial; text-align: center; }
        #status { font-size: 24px; font-weight: bold; margin-top: 10px; }
    </style>
</head>
<body>

<h2>PPE Detection Live Stream</h2>

<img src="/video" width="640"/>

<div id="status">No detection</div>

<script>
setInterval(async () => {
    const res = await fetch("/status");
    const data = await res.json();

    const statusDiv = document.getElementById("status");
    statusDiv.innerText = data.status;

    if (data.status === "PPE not complied") {
        statusDiv.style.color = "red";
    } else if (data.status === "PPE complied") {
        statusDiv.style.color = "green";
    } else {
        statusDiv.style.color = "black";
    }
}, 500);
</script>

</body>
</html>
